.root {
  width: 100%;
  overflow-x: auto;
}

.table {
  min-width: 650px;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.app {
  border: 6px yellow solid;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.background {
  height: 100%;
}

.transactions {

  border: 4px black solid;
}

.transaction {
  border: 1px blue solid;
  text-align: center;
  margin: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


